
name: ci_cd

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml -DskipTests=true
      
    - name: Upload Unit Test Results
      uses: actions/upload-artifact@v2
      with:
        name: testng-results.xml 
        path: target/surefire-reports/testng-results.xml
        
